@import '../base/variables';

.TitleLine {
  &__Title {
    h3 {
      display: block;
      position: relative;
      margin-bottom: 10px;
      padding-left: 85px;
      font-size: 1em;
      line-height: 20px;
      color: $dark;
      letter-spacing: .5px;

      &:before {
        position: absolute;
        left: 0;
        top: 8px;
        width: 65px;
        height: 4px;
        background-color: $red;
        border-radius: 0 2px 2px 0;
        content: "";
      }
    }

    h2 {
      position: relative;
      margin-bottom: 1.5rem;
      color: $color-title;
      font-size: 2.2em;
      font-weight: 600;
      line-height: 150%;
    }

  }
}