.flex-row {
  -js-display: flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.flex-col {
  max-height: 100%;
}

.flex-left {
  margin-right: auto;
}

.flex-right {
  margin-left: auto;
}

.flex-grow {
  -ms-flex: 1;
  flex: 1;
  -ms-flex-negative: 1;
  -ms-flex-preferred-size: auto !important;
}